<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<app-dashboard-header></app-dashboard-header>

<div class="add-margin bottom-content">
  <div class="card">
    <div class="card-body">
      <span class="text-bold text-dark">Таны байгууллага:</span>
      <!-- <select class="custom-select" (change)="selectCorporate($event.target.value)">
        <option *ngFor="let corporate of corporates" value="{{corporate.corporateId?._id}}">{{ corporate.corporateId?.name}}</option>
      </select> -->
      <div class="row mrg-top-15">
        <ng-template ngFor let-corporate [ngForOf]="corporates">
          <ng-container>
            <a class="btn btn-light btn-sm mrg-left-10"
              (click)="getAssignedPoses(corporate.corporateId._id,corporate.corporateId.name)">

              <span>{{corporate.corporateId?.name}}</span>
            </a>
          </ng-container>
        </ng-template>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <span class="text-bold text-dark">ПОС жагсаалт:</span>
      <span class="float-right" *ngIf="selectedCorporateName">Байгууллагын нэр: <span
          class="text-bold text-dark">{{selectedCorporateName}}</span></span>
      <div class="row mrg-top-15">
        <div id="board3" class="col-md-3" *ngFor="let pos of poses" (click)="syncPosId(pos._id,pos.paymentTypes)">

          <div class="card pdd-top-30 pdd-btm-30 pointer board">
            <h4 class="text-center">
              <span class="text-bold">{{pos.name}}</span>
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>