<div class="main-content">
    <div class="container-fluid">
      <div class="jumbotron">
        <div class="text-right mrg-btm-10">
          <span>Байгууллагын нэр:</span><span
            class="text-bold text-dark mrg-left-5 mrg-right-15">{{currentCorporate?.corporateId.name}}</span>
          <span>Байгууллагын код:</span><span
            class="text-bold text-dark mrg-left-5 mrg-right-15">{{currentCorporate?.corporateId.corporateCode}}</span>
          <!-- <span>Байгууллагын гишүүдийн тоо:</span><span
            class="text-bold text-dark mrg-left-5 mrg-right-15">{{corporateMemberList.length}}</span> -->
        </div>
      </div>

      <router-outlet></router-outlet>
    </div>
  </div>