/* // Font settigns */

@import url('https://fonts.googleapis.com/css?family=Hind+Madurai:300|Lora:400i|Montserrat:700');

.main{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1rem;
}

.ticket {
  height: 100%;
}

.pos {
  height: 100%;
}

.content {
  flex-wrap: wrap;
}

@media screen and (max-width: 300px) {
  .pos {
    width: 100%;
  }
  .ticket {
    width: 100%;
  }
  .bottom-content {
    width: 92%;
  }
}

@media screen and (min-width: 500px) {
  .pos {
    width: 50%;
  }
  .ticket {
    width: 50%;
  }
  .bottom-content {
    width: 100%;
  }
}

.text-align-center {
  text-align: center;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* // Colors */


/* // Flex settings */

.flex {
  display: flex;
}

.flex-direction-row {
  flex-direction: row;
}

.flex-direction-column {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}

.align-items-center {
  align-items: center;
}

.align-content-center {
  align-content: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

/* // Margin & Padding settings */

.add-margin {
  margin: 1rem;
}

.add-padding {
  padding: 1rem;
}

.padding-horizontal {
  padding-left: 1rem;
  padding-right: 1rem;
}
