<meta http-equiv="X-UA-Compatible" content="IE=edge" /> 
<div id="page-container">
  <app-dashboard-header></app-dashboard-header>
      <div id="content-wrap">

            <div class="flex flex-direction-row content">
                
              <div class="ticket">
                <app-ticket></app-ticket>
              </div>
            
              <div class="pos">
                <app-pos></app-pos>
              </div> 
              
              <router-outlet></router-outlet>
            </div>
    </div>
   </div>
