/* UPDATE */

.amcharts-chart-div rect {
    display: none !important;
  }
  
  .btn, .card, .jumbotron, .modal-content, .border-radius-10 {
    border-radius: 2px;
  }
  
  .top-border-radius-custom {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  .no-border-radius {
    border-radius: 0px !important;
  }
  
  /* .modal { overflow: auto !important; } */
  
  /* #post-edit-modal { overflow-y:scroll } */
  
  /*---------------------------------*/
  
  .modal.left.fade.show .modal-dialog {
    left: 0;
  }
  
  .fc-title {
    display: none;
  }
  
  .page-title span {
    font-size: 14px;
    margin-top: 0;
  }
  
  .page__section {
    margin-bottom: 20px;
  }
  
  .breadcrumbs {
    --cssuiBreadcrumbsTextColor: var(--breadcrumbsTextColor);
    --cssuiBreadcrumbsTextColorActive: var(--breadcrumbsTextColorActive);
    --cssuiBreadcrumbsDivider: var(--breadcrumbsDivider);
    --cssuiBreadcrumbsDividerColor: var(--breadcrumbsDividerColor, inherit);
    --cssuiBreadcrumbsDividerSize: var(--breadcrumbsDividerSize, 16px);
    --cssuiBreadcrumbsIndent: var(--breadcrumbsIndent, 8px);
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }
  
  .breadcrumbs__item {
    display: inline-block;
    position: relative;
    padding-right: calc(var(--cssuiBreadcrumbsDividerSize) + var(--cssuiBreadcrumbsIndent));
    margin-right: var(--cssuiBreadcrumbsIndent);
  }
  
  .breadcrumbs__item:after {
    content: var(--cssuiBreadcrumbsDivider);
    width: var(--cssuiBreadcrumbsDividerSize);
    height: var(--cssuiBreadcrumbsDividerSize);
    line-height: 1;
    text-align: center;
    font-family: "Arial", sans-serif;
    font-size: var(--cssuiBreadcrumbsDividerSize);
    color: var(--cssuiBreadcrumbsDividerColor);
    position: absolute;
    top: 45%;
    right: 0;
    transform: translateY(-50%);
  }
  
  .breadcrumbs__item_active {
    margin-right: 0;
    padding-right: 0;
    color: var(--cssuiBreadcrumbsTextColorActive);
  }
  
  .breadcrumbs__item_active:after {
    display: none;
  }
  
  .breadcrumbs__element {
    color: inherit;
  }
  
  /* examples */
  
  .breadcrumbs {
    --breadcrumbsTextColor: #D1C4E9;
    /* --breadcrumbsTextColorActive: #red;   */
  }
  
  .breadcrumbs_type1 {
    --breadcrumbsDivider: "/";
  }
  
  .breadcrumbs_type1 .breadcrumbs__item:after {
    margin-top: 2px;
  }
  
  .breadcrumbs_type3 {
    --breadcrumbsDivider: "•";
    --breadcrumbsDividerSize: 2rem;
  }
  
  .breadcrumbs_type3 .breadcrumbs__item:after {
    margin-top: 2px;
  }
  
  .breadcrumbs_type5 {
    --breadcrumbsDivider: "›";
    --breadcrumbsDividerSize: 20px;
  }
  
  .dataTables_wrapper .dataTables_paginate .paginate_button.current {
    color: #ffffff !important;
    background: #0f9aee;
    border: 1px solid #0f9aee;
  }
  
  .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #ffffff !important;
    background: #25a4f1;
    border: 1px solid #25a4f1;
  }
  
  .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: #ffffff !important;
    background: #89c7ee;
    border: 1px solid #89c7ee;
  }
  
  /* .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: none;
    color: black!important;
    border-radius: 4px;
    border: 1px solid #828282;
  }
   
  .dataTables_wrapper .dataTables_paginate .paginate_button:active {
    background: none;
    color: black!important;
  } */
  
  .swal-button--confirm {
    background-color: #0f9aee;
    border-color: #0f9aee;
    color: #ffffff;
    padding: 7px 19px;
    border-radius: 2px;
    /* font-size: 12px; */
    /* border: 1px solid #3e549a;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3); */
  }
  
  .swal-button--cancel {
    color: #515365;
    background-color: #edf2f8;
    border-color: #edf2f8;
    padding: 7px 19px;
    border-radius: 2px;
    /* font-size: 12px; */
    /* border: 1px solid #3e549a;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3); */
  }
  
  .swal-modal {
    padding: 20px;
  }
  
  .MathJax_Display {
    text-align: left !important;
  }
  
  label .MathJax_Display {
    display: inline !important;
  }
  
  .lds-dual-ring {
    display: inline-block;
    width: 25px;
    height: 25px;
  }
  
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 25px;
    height: 25px;
    margin: 1px;
    border-radius: 50%;
    border: 3px solid #0f9aee;
    border-color: #0f9aee transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  /*PAG*/
  
  .page-item.active .page-link {
    background-color: #0f9aee;
    border-color: #0f9aee;
  }
  
  .page-item .next {
    background-color: #0f9aee;
    border-color: #0f9aee;
    color: #fff;
    margin-right: 10px;
  }
  
  /* .page-link > a{
    color: #0f9aee;
  } */
  
  /**/
  
  /* -- MODAL ----*/
  
  /* .fade {
    opacity: 1;
    -webkit-transition: opacity 0.05s linear;
       -moz-transition: opacity 0.05s linear;
        -ms-transition: opacity 0.05s linear;
         -o-transition: opacity 0.05s linear;
            transition: opacity 0.05s linear;
  } */
  
  .modal {
    background-color: rgba(0, 0, 0, .4);
  }
  
  /**/
  
  .option {
    min-width: 500px;
  }
  
  /* .class-word-wrap {
    width: 297px;
    overflow: hidden;
  } */
  
  /**/
  
  .cardClass:hover .portlet {
    display: block;
  }
  
  input[type="date"], input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], select, textarea, .woocommerce .quantity input.qty {
    border-width: 0 0 1px 0 !important;
    box-shadow: unset;
    resize: none;
  }
  
  /* .selectize-control{
    max-width: 50% !important;
  } */
  
  /* .side-nav-dark .side-nav {
    background-image: url('https://images.pexels.com/photos/34587/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 10px 20px 0 rgba(0, 0 , 0,.5);
  
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
  } */
  
  .side-nav .side-nav-inner {
    /* background-color: #313644; */
    background-color: #464e62;
    /* background-color: #343A49; */
    /* background-color: rgb(47, 56, 108); */
    /* background-color: #000; */
    /* background-color: #0f9aee; */
    opacity: 1;
  }
  
  .side-nav-dark .side-nav .side-nav-inner .side-nav-menu li a {
    color: #fff;
    font-weight: lighter;
  }
  
  .class-bg-1 {
    /* background-color: #ffffff; */
    background-color: #464e62;
  }
  
  .animated {
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  .customTimer {
    font-weight: bold;
    color: #e83e8c;
  }
  
  #questionContent img {
    width: 100px;
    margin-right: 10px;
  }
  
  #questionContent p {
    font-weight: bold;
    color: #444;
  }
  
  .card .card-heading {
    padding: 10px 20px;
    position: relative;
  }
  
  /* Tooltip */
  
  /* .tooltip.show {
    opacity: 0.5;
  }  */
  
  .bg-custom {
    /* background-color: #464e62; */
    background-color: #636d86;
  }
  
  /* /// */
  
  .spinner2 {
    width: 50px;
    height: 50px;
    position: absolute;
    text-align: center;
    top: 40%;
    left: 50%;
    -webkit-animation: sk-rotate 2.0s infinite linear;
    animation: sk-rotate 2.0s infinite linear;
  }
  
  .double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #0f9aee;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
  }
  
  .double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  
  @-webkit-keyframes sk-bounce {
    0%, 100% {
      -webkit-transform: scale(0.0)
    }
    50% {
      -webkit-transform: scale(1.0)
    }
  }
  
  @keyframes sk-bounce {
    0%, 100% {
      transform: scale(0.0);
      -webkit-transform: scale(0.0);
    }
    50% {
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
  }
  
  .modal-scroll-y {
    max-height: 80vh;
    overflow-y: scroll
  }
  
  .modal-inside-shadow-top {
    -webkit-box-shadow: 0px 4px 5px -5px rgba(158, 158, 158, 0.5);
    -moz-box-shadow: 0px 4px 5px -5px rgba(158, 158, 158, 0.5);
    box-shadow: 0px 4px 5px -5px rgba(158, 158, 158, 0.5);
    z-index: 9999;
  }
  
  .modal-inside-shadow-bottom {
    -webkit-box-shadow: 0px -4px 5px -5px rgba(158, 158, 158, 0.5);
    -moz-box-shadow: 0px -4px 5px -5px rgba(158, 158, 158, 0.5);
    box-shadow: 0px -4px 5px -5px rgba(158, 158, 158, 0.5);
    z-index: 9999;
  }
  
  .my-shadow-right {
    -webkit-box-shadow: 0px -4px 5px -5px rgba(158, 158, 158, 0.5);
    -moz-box-shadow: 0px -4px 5px -5px rgba(158, 158, 158, 0.5);
    box-shadow: 0px -4px 5px -5px rgba(158, 158, 158, 0.5);
    z-index: 9999;
  }

  