<div class="authentication">
    <div class="page-404 container">
      <div class="row">
        <div class="col-md-1">
          <div class="full-height">
            <div class="vertical-align full-height pdd-horizon-10">
              <div class="table-cell">
                <h1 class="text-dark font-size-80 text-light">404!</h1>
                <p class="lead lh-1-8">Таны бичсэн хаяг байхгүй байна.<br></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-9 ml-auto hidden-sm hidden-xs">
          <div class="full-height height-100">
            <div class="vertical-align full-height">
              <div class="table-cell">
                <img class="img-responsive" src="assets/images/404.png" alt="">
              </div>
            </div>
          </div>	
        </div>
      </div>
    </div>
  </div>