<footer class="content-footer">
    <div class="footer">
        <div class="copyright">
            <span>Зохиогчийн эрх хуулиар хамгаалагдсан ©2018 <b class="text-dark">Маззи</b></span>
            <span class="go-right">
  <!-- <a href="" class="text-gray mrg-right-15">Term &amp; Conditions</a>
  <a href="" class="text-gray">Privacy &amp; Policy</a> -->
</span>
        </div>
    </div>
</footer>