<h2 mat-dialog-title class="no-mrg-btm text-center">Төлбөрийн хэрэгсэлээ сонгоно уу!</h2>
<!-- <div mat-dialog-content>
  <p>What's your favorite animal?</p>
</div> -->
<div mat-dialog-actions style="display: block;">
  <div class="text-center">
    <button mat-button [mat-dialog-close]="data.type[0]" *ngIf="data.paymentType[0] == true">Бэлнээр</button>
    <button mat-button [mat-dialog-close]="data.type[1]" *ngIf="data.paymentType[1] == true">Банкны карт</button>
    <button mat-button [mat-dialog-close]="data.type[2]" *ngIf="data.paymentType[2] == true">Маззи данс</button>
  </div>
  <div class="text-right">
    <button mat-button (click)="onNoClick()">Болих</button>
  </div>
</div>