<div mat-dialog-content class="text-center">
    <p>Картын дугаараа оруулна уу?</p>
    <mat-form-field>
      <input matInput [(ngModel)]="data.animal">
    </mat-form-field>
  </div>
  <div mat-dialog-actions style="display: block;" class="text-right">
    <!-- <button mat-button (click)="onNoClick()">No Thanks</button> -->
    <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial [disabled]="!data.animal">Үргэлжлүүлэх</button>
  </div>