<mat-card class="pos-section">
  <!-- <mat-card-title class="add-padding heading">Бараанууд</mat-card-title> -->

  <!-- <mat-tab-group class="tab">
    <mat-tab *ngFor="let type of products; let i = index" label="{{productTypes[i].name}}">
          <mat-grid-list cols="6" rowHeight="80" class="grid-list" [gutterSize]="'10px'">
            <mat-grid-tile *ngFor="let posItem of products[i]" class="flex item" (click)="addToCheck(posItem)" (tap)="startAnimation('swing')" >
              <div class="flex-wrap justify-center">
                  <p class=" item-name">{{posItem.name}}</p>
                  <p class=" item-price">{{posItem.price}}</p>
              </div>
            </mat-grid-tile>
          </mat-grid-list>
        </mat-tab>
</mat-tab-group> -->


  <div class="tab">

    <div class="tab-types">
      <mat-grid-list cols="6" rowHeight="80" [gutterSize]="'10px'">
        <mat-grid-tile *ngFor="let type of products; let i = index" class="flex item-menu-top"
          (click)="changeProducts(i)">
          <div class="flex-wrap justify-center">
            <p class="flex item-name">{{productTypes[i].name}}</p>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </div>

    <hr>

    <div class="tab-items">
      <mat-grid-list cols="6" rowHeight="80" class="grid-list1" [gutterSize]="'10px'">
        <mat-grid-tile *ngFor="let posItem of currentProducts" class="flex item" (click)="addToCheck(posItem)"
          (tap)="startAnimation('swing')">
          <div class="flex-wrap justify-center">
            <p class=" item-name">{{posItem.name}}</p>
            <p class=" item-price">{{posItem.price}}</p>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </div>

  </div>

<button id="clearTicket-1" (click)="clearTicket()" style="display: none"></button>


  <div class="menus">
    <mat-grid-list cols="6" rowHeight="80" class="grid-list" [gutterSize]="'10px'">
      <!-- <mat-grid-tile class="flex item-menu">
        <h5 class="flex item-name">Сүүлийн гүйлгээ</h5>
      </mat-grid-tile> -->
      <mat-grid-tile class="flex item-menu">
        <h5 class="flex item-name" (click)="dailyReport()">Гүйлгээ хаах</h5>
      </mat-grid-tile>
      <!-- <mat-grid-tile class="flex item-menu">
        <h5 class="flex item-name">Гүйлгээний түүх</h5>
      </mat-grid-tile> -->

    </mat-grid-list>

    <mat-grid-list cols="6" rowHeight="100" class="grid-list1" [gutterSize]="'10px'">
      <mat-grid-tile class="flex item-logout" (click)="logout()">
        <h5 class="flex item-name">Хэрэглэгч солих</h5>
      </mat-grid-tile>
      <mat-grid-tile class="flex item-clear" [colspan]=2 (click)="clearCart()">
        <h3 class="flex item-name">Арилгах</h3>
      </mat-grid-tile>
      <mat-grid-tile class="flex item-pay" [colspan]=3 (click)="openDialog()">
        <h3 class="flex item-name">Зарах</h3>
      </mat-grid-tile>

    </mat-grid-list>
  </div>


  <!-- <div id="Home" class="tabcontent">
      <h3>Home</h3>
      <p>Home is where the heart is..</p>
    </div>
    
    <div id="News" class="tabcontent">
      <h3>News</h3>
      <p>Some news this fine day!</p> 
    </div> -->

</mat-card>

<script>
  function openPage(pageName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }

    document.getElementById(pageName).style.display = "block";
  }

    // Get the element with id="defaultOpen" and click on it
    // document.getElementById("defaultOpen").click();
</script>