.pos-section {
  height: 92vh;
}

.menu {
  margin: 0.25rem;
}

.tile{
  background-color: #b7e2f3;
  border-radius: 10px;
  cursor: pointer;
}

.item-menu{
  margin-top: 10px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #499bc0;
}

.item-menu-top{
  border-radius: 10px;
  cursor: pointer;
  background-color: #499bc0;
}

.item-logout{
  margin-top: 10px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #f4c343;
}

.item-pay{
  margin-top: 10px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #a5c536;
}

.item-clear{
  margin-top: 10px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #ea5255;
}

.item {
  border-radius: 10px;
  cursor: pointer;
  background-color: #b7e2f3;
}
.item:hover {
  background-color: #304ffe;
  color: white;
  opacity: 0.6;
}
.item:active {
  background-color: grey;
  color: white;
  opacity: 0.8;
}

.item-img {
  height: 100px;
  width: 122px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.item-name {
  text-size-adjust: 5px;
  text-align: center;
  color: black;
  word-break: keep-all;
}

.item-price {
  text-align: center;
  margin-top: 1.5vh;
  color: black;
}

.flex {
  display: flex;
}

.flex-direction-row {
  flex-direction: row;
}

.flex-direction-column {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}

.align-items-center {
  align-items: center;
}

.align-content-center {
  align-content: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.tab{
  height: 65vh;
  overflow: auto;
}

.menus{
  overflow: auto;
  height: 25vh;
}

.tab-items{
  overflow: auto;
  height: 55vh;
}

.tab-types{
  overflow-y: auto;
  overflow-x: auto;
  height: 80px;
}

.grid-list1{
  margin-top: 10px;
}





