
  <!-- <div class="ticket add-margin">
    <app-ticket></app-ticket>
  </div>

  <div class="pos add-margin">
    <app-pos></app-pos>
  </div> -->
  <!-- <app-user-login></app-user-login> -->
  <router-outlet></router-outlet>


