<div class="authentication">
  <div class="sign-in">
      <div class="row no-mrg-horizon">
          <div class="col-md-8 no-pdd-horizon d-none d-md-block">
              <div class="full-height bg" style="background-image: url('assets/images/background.jpg')">
                  <div class="img-caption">
                      <!-- <h1 class="caption-title">We make spectacular</h1>
                      <p class="caption-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p> -->
                  </div>
              </div>
          </div>
          <div class="col-md-4 no-pdd-horizon">
              <div class="full-height bg-white height-100">
                  <div class="vertical-align full-height pdd-horizon-70">
                      <div class="table-cell">
                          <div class="pdd-horizon-15">
                              <h2>Нэвтрэх</h2>
                              <p class="mrg-btm-15 font-size-13">M Class - д тавтай морилно уу</p>
                              <form [formGroup]="loginForm" (ngSubmit)="submitLoginForm()">
                                  <div class="form-group">
                                      <input type="email" formControlName="email" class="form-control" (focus)="hideError()"
  
                                          placeholder="Таны и-мэйл хаяг эсвэл утасны дугаар:">
                                      <div *ngIf="f.email.touched && f.email.invalid">
                                          <label *ngIf="f.email.errors.required" class="error">И-мэйл хаяг эсвэл утасны дугаар хоосон байна.</label>
                                          <label *ngIf="f.email.errors.email" class="error">И-мэйл хаяг эсвэл утасны дугаар буруу байна.</label>
                                      </div>
                                      <label id='emailErrorLabel' *ngIf="isSubmitting && err" class="error">И-мэйл хаяг эсвэл утасны дугаар буруу байна.</label>
                                  </div>
                                  <div class="form-group">
                                      <input type="password" formControlName="password" class="form-control" (focus)="hideError()" 
                                      
                                          placeholder="Таны нууц үг:">
                                      <div *ngIf="f.password.touched && f.password.invalid">
                                          <label *ngIf="f.password.errors.required" class="error">Нууц үг хоосон байна.</label>
                                          <label *ngIf="f.password.errors.minlength" class="error">Нууц үг буруу байна.</label>
                                      </div>
                                      <label id='passwordErrorLabel' *ngIf="isSubmitting && err" class="error">Нууц үг буруу байна.</label>
                                  </div>
                                  <!-- <div class="checkbox font-size-12">
                                      <input id="agreement" name="agreement" type="checkbox">
                                      <label for="agreement">Намайг сана</label>
                                  </div> -->
                                  <!-- <div class="pull-right">
                                      <a routerLink="/forgot-password">Нууц үгээ мартсан уу?</a>
                                  </div> -->
                                  <div class="form-group mrg-top-20">
                                      <button type="submit" class="btn btn-info" [disabled]="!loginForm.valid">Нэвтрэх</button>
            
                  <!-- <button (click)="nfcCall()">Nfc call new2</button> -->
         

                                  </div>
                              </form>
                          </div>
                      </div>
                  </div>
                  <!-- <div class="login-footer">
                      <img class="img-responsive inline-block" src="assets/images/logo/logo.png" width="100" alt="">
                      <span class="font-size-14 pull-right pdd-top-10">Та бүртгэлгүй бол <a routerLink="/register">энд дарж</a> бүртгүүлнэ үү</span>
                  </div> -->
              </div>
          </div>
      </div>
  </div>
  </div>
  