.navbar {
    min-height: 3rem;
    height: 8vh;
    background-color: #212121;
    justify-content: space-between;
  }
  
  .title {
    color: white;
    margin-right: 0.25rem;
    font-size: 1.25rem;
    cursor: pointer;
  }
  
  .subtitle {
    color: gray;
  }
  
  .menu {
    color: white;
  }