<div color="primary" class="navbar flex flex-direction-row align-items-center">
        <div class="flex flex-direction-column titles">
          <h4 routerLink="/welcome" class="title add-margin">Маззи ПОС</h4>
          <h6 class="subtitle add-margin">Хэрэглэгч: <span class="text-white text-bold">{{ currentUser.lastname }} {{ currentUser.nickname }}</span></h6>
        </div>

      
        <button mat-icon-button [matMenuTriggerFor]="menu" class="menu">
          <mat-icon>more_vert</mat-icon>
          <!-- <i class="material-icons">more_vert</i> -->
        </button>
      </div>
      
      <!-- Mobile Menu -->
      <mat-menu #menu="matMenu">
        <!-- <button mat-menu-item routerLink="/home">
          <mat-icon>shopping_cart</mat-icon>
          <span>Point of Sale</span>
        </button> -->
        <!-- <button mat-menu-item routerLink="/admin/items">
          <mat-icon>perm_identity</mat-icon>
          <span>Admin</span>
        </button>
        <button mat-menu-item routerLink="/reports">
          <mat-icon>multiline_chart</mat-icon>
          <span>Reports</span>
        </button> -->
        <button mat-menu-item (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          <!-- <i class="material-icons"></i> -->
          Гарах
        </button>
      </mat-menu>