
.ticket-section {
  height: 92vh;
}

.heading {
}

.table-header {
  text-align: left;
  font-weight: 700;
}

.items {
  width: 100%;
}

.pos-items{
  height: 80vh;
  overflow: auto;

}

.del {
  color: grey;
}
.del:hover {
  color: black;
  cursor: pointer;
}


.summary {
  height: 10vh;
  margin-top: auto;
}

.total {
  color: black;
  font-weight: bold;
  padding: 0.75rem;
}


th{
  background-color: #e0e0e0;
}

td, th {
  padding: 0.5rem;
  vertical-align: middle;
}

tr:nth-child(even) {
  background-color: #f5f5f5;
}

.clear{
  background-color: #ea5255;
}

.checkout {
  margin-right: 0.75rem;
  background-color: #a5c536;
}
