<mat-card class="ticket-section flex flex-direction-column justify-between">
  <!-- <h6>Хэрэглэгчийн нэр: {{currentUser.nickname}}</h6> -->
  <!-- <mat-card-title class="add-padding heading">Захиалга</mat-card-title> -->
  <div class="pos-items">
    <table class="items">
      <thead>
        <tr class="table-header">
          <th>Тоо ширхэг</th>
          <th>Бараа</th>
          <th>Үнэ</th>
          <th>Засах</th>
        </tr>
      </thead>

      <tr *ngFor="let item of ticket">
        <td class="text-bold">{{item.quantity}}</td>
        <td>{{item.name}}</td>
        <td>₮{{item.price}}</td>
        <td>
          <button class="btn btn-sm btn-light del" (click)="addItem(item)"><span class="text-bold font-size-15"> +
            </span></button>
          <button class="btn btn-sm btn-light del" (click)="subtractOne(item)"><span class="text-bold font-size-15"> -
            </span></button>
          <button class="btn btn-sm btn-light del" (click)="removeItem(item)"><span class="text-bold font-size-15"> x
            </span></button>

        </td>
        <!-- <mat-icon (click)="addItem(item)" class="del">control_point</mat-icon>
        <mat-icon (click)="subtractOne(item)" class="del">indeterminate_check_box</mat-icon>
        <mat-icon (click)="removeItem(item)" class="del">cancel</mat-icon> -->
      </tr>
    </table>

    <!-- <table mat-table [dataSource]="dataSource" class="items">
    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef> Тоо ширхэг </th>
      <td mat-cell *matCellDef="let item"> {{item.quantity}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Бараа </th>
      <td mat-cell *matCellDef="let item"> {{item.name}} </td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> Үнэ </th>
      <td mat-cell *matCellDef="let item"> {{item.price}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table> -->

  </div>

  <mat-card-actions class="summary flex flex-direction-row align-items-center justify-between">
    <!-- <h3 class="total">Total: {{cartTotal | currency:'USD':true}}</h3> -->
    <h2 class="total">Нийт үнэ:₮ {{cartTotal}}</h2>

    <!-- <div class="flex flex-direction-row buttons">
      <button class="clear" mat-raised-button (click)="clearCart()">Арилгах</button>
      <button class="checkout" mat-raised-button (click)="openDialog()">Зарах</button>
    </div> -->
  </mat-card-actions>
</mat-card>